*.opendb
*.db
*.vsidx
*.db-shm
C++/TestApp/.vs/VSWorkspaceState.json
C++/TestApp/.vs/TestApp/v17/ipch/AutoPCH/d7ae930f16d21be8/DATE.ipch
C++/TestApp/.vs/TestApp/v17/ipch/AutoPCH/b6128470a10f561d/TESTAPP.ipch
C++/TestApp/.vs/TestApp/v17/DocumentLayout.json
C++/TestApp/.vs/TestApp/v17/Browse.VC.db-wal
C++/TestApp/.vs/TestApp/v17/DocumentLayout.backup.json
C++/TestApp/.vs/slnx.sqlite
C++/TestApp/.vs/ProjectSettings.json
C++/TestApp/.vs/TestApp/v17/.wsuo
